@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
body {
  margin: 0; }

body.one {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../media/images/pattern.png"), linear-gradient(to bottom, #ffeb00 0%, #ffffcd 100%); }
  body.one header {
    overflow: auto;
    padding: 2em 0;
    text-align: center;
    background-color: rgba(255, 121, 8, 0.5);
    color: white; }
    body.one header h1, body.one header h2 {
      margin: 0; }
    body.one header h2 {
      font-size: 1.25em; }
      body.one header h2 span {
        display: block; }
  body.one .content {
    max-width: 35em;
    margin: 0 auto;
    padding: 0 0.5em; }
  body.one .content h3 {
    display: inline-block;
    padding: 0 0.5em;
    margin: 0.5em 0;
    background-color: rgba(255, 121, 8, 0.5);
    border: 1px solid rgba(255, 121, 8, 0.5);
    box-shadow: -0.25em 0.25em white; }
  body.one .content p {
    background: white;
    padding: 0.5em;
    border: 1px solid rgba(255, 121, 8, 0.5);
    box-shadow: -0.33em 0.33em 0 rgba(255, 121, 8, 0.5);
    color: black; }
  body.one .content li {
    list-style: none;
    padding: 0 0 0 0.5em;
    line-height: 1;
    margin-bottom: 0.25em; }
    body.one .content li:before {
      display: inline-block;
      content: "\1F36C";
      font-size: 1.5em;
      vertical-align: middle;
      margin: 0 0.25em 0 -1.75em; }
  body.one .content a {
    text-decoration: none;
    padding: 0 0.1em;
    color: black;
    background-color: #b4ffe4; }
    body.one .content a:hover, body.one .content a:focus, body.one .content a:active {
      background-color: yellow; }
  body.one .content hr {
    border: none;
    text-align: center;
    font-size: 2em;
    line-height: 1em; }
    body.one .content hr::after {
      content: "\1F369"; }
  @media (min-width: 35em) {
    body.one header h1 {
      font-size: 3em; }
    body.one header h2 span {
      display: inline-block; }
      body.one header h2 span:first-of-type::after {
        content: "\1F366";
        padding: 0 0.25em; } }
