html{
	
}

body{
	margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Quicksand:400,700');

$font1: 'Quicksand', 'sans-serif';
$font2: 'Cormorant Garamond', 'serif';

$tablet-breakpoint: 35em;
$desktop-breakpoint: 55em;

body.sweet{

	$bg-yellow: #ffeb00;
	$accent-orange: #ff7908;
	$shadow: fade-out($accent-orange,0.5);
	$accent-teal: #b4ffe4;

	font-family: $font1;
	//background-color: $bg-yellow;
	background-image:
		url('../media/images/pattern.png'),
		linear-gradient(to bottom, $bg-yellow 0%, mix(#ffff9b,white) 100%)
		;

	%column{
		max-width: $tablet-breakpoint;
   		margin: 0 auto;
		padding: 0 0.5em;	
	}

	%pop-box{
		border: 1px solid $shadow;
		box-shadow: -0.33em 0.33em 0 $shadow;
	}

	%candy-links{
		text-decoration: none;
		padding: 0 0.1em;
		color: black;
	    background-color: $accent-teal;
	    &:hover,&:focus,&:active{
	    	background-color: yellow;
	    }
	}

	.container{
		padding-bottom: 3em;
	}

	header{
		overflow: auto;
		padding: 2em 0;
		text-align: center;
		background-color: $shadow;
		color: white;

		h1,h2{
			margin:0;
		}

		h2{
			font-size: 1.25em;

			a{
				text-decoration: none;
				color: white;
				display: block;

				&:hover{
					color: black;
				}
			}
		}
	}

	label#theme-menu {
	    display: block;
	    margin: 0.5em auto;
	    text-align: center;

	    ul {
		    display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			justify-content: center;
			list-style: none;
		}

		li {
		    margin: 0.25em;
		    padding: 0;

		    &#sweet{

		    	a{
		    		background-color: yellow;
		    	}

		    	&::before,&::after{
		    		content: "\1F36B";
		    		line-height: 1;
		    		margin-left: 0.25em;
		    	}
		    }
		}

		a{
			@extend %candy-links;
		}
	}

	.content{
		@extend %column;

		figure{
			@extend %pop-box;
			width: 15em;
			margin: 1em auto;
			background-color: $accent-orange;
			background-image: url('../media/images/selfie.jpg');
			background-size: 100%;
			background-blend-mode: overlay;

			img{
				display: block;
				opacity: 0.5;
				width: 15em;
			}

			figcaption{
				display: none;
			}
		}

		h3{
			display: inline-block;
			padding: 0 0.5em;
			margin: 0.5em 0;
			background-color: $shadow;
			border: 1px solid $shadow;
			box-shadow: -0.25em 0.25em white;
		}

		p {
			@extend %pop-box;
			background: white;
			padding: 0.5em;
			color: black;
		}

		li{
			position: relative;
    		padding: 0 0 0 0.5em;
    		line-height: 1;
    		margin: 0.75em 0;
    		list-style: none;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "\1F36C";
				font-size: 1.5em;
				vertical-align: middle;
				margin: -0.25em 0.25em 0 -1.25em;
			}
		}

		a[href]{
			@extend %candy-links

		}

		hr {
		    border: none;
		    text-align: center;
		    font-size: 2em;
		    line-height: 1em;

		    &::after{
		    	content: "\1F369";
		    }
		}
	}

	@media (min-width: $tablet-breakpoint) {
		header{
			h1{
				font-size: 3em;
			}

			h2{
				a{
					display: inline-block;

					&:first-of-type::after{
						content: "\1F366";
						padding: 0 0.25em;
					}
				}
			}
		}

		label#theme-menu{
			position: absolute;
    		left: calc(50vw - 17em);
    		top: 10em;

    		ul{
    			flex-direction: column;
    		}
		}
	}

	@media (min-width: $desktop-breakpoint) {

		label#theme-menu {
    		left: calc(50vw - 26em);
    		margin-top: 1em;

			ul{
				
			}

			li{
				margin: 0.25em;
			}
		}

		.content{
			position: relative;

			figure{
				position: absolute;
				left: 90%;
				z-index: -1;
			}
		}
	}
}

body.vapor{

	$bg-blue: #9be7fb;
	$blue-gel: fade-out(#0000ff,0.8);
	$purple-shadow: fade-out(#520090,0.5);

	overflow: auto;
	background-color: $bg-blue;
	background-image: url('../media/images/clouds.gif');
	background-repeat: no-repeat no-repeat;
	background-position: top center;
	background-size: 100%;
	background-attachment: fixed;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.5;

	%ghost-box{
		background-color: fade-out($bg-blue,0.5);
	}

	%triple-circle{
		position: relative;
		border-radius: 50%;
		overflow: visible;

		&::before,&::after{
		   	position: absolute;
    		content: "";
    		display: block;
    		width: 100%;
    		height: 100%;
    		top: -1px;
    		border: 1px solid white;
    		border-radius: 50%;
    		z-index: 2;
		}
		&::before{
			left: -0.75em;
		}
		&::after{
			left: 0.75em;
		}
	}

	%glow-hover{
		&:hover {
    		background-image: radial-gradient(ellipse at center, #ffffff 0%,#80ffff 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	h1,h2,h3,h4,h5,h6{
		font-family: $font2;
		font-weight: 300;
		text-transform: uppercase;
	}

	.container{
		position: relative;
		max-width: $tablet-breakpoint;
		margin: 0 auto -20em auto;
		padding: 1em;
    	background: $blue-gel;
    	box-shadow: 0 30px 100px $purple-shadow;
	}

	header{
		@extend %ghost-box;
		padding: 1.5em 0;

		h1,h2{
			margin: 0;
			line-height: 1.1;
			text-align: center;
		}

		h2{
			font-size: 1em;

			a{
				display:block;
				text-decoration: none;
				color: black;

				@extend %glow-hover;

				&::before,&::after{
					content: "\25cb";
					color: white;
					margin: 0 0.25em;
				}

			}
		}
	}

	label#theme-menu {

		display: block;
		margin: 0.5em;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-family: $font2;
		font-weight: 300;

		span{
			font-size: 0.8em;
		}

		ul{
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			justify-content: center;
			list-style: none;
		}

		li{
			padding: 0 0.25em;
			margin: 0.1em 0;
			line-height: 1em;

			&#vapor a{
				background-color: blue;
			}
		}

		a{
			padding: 0 0.25em;
			color: white;
			text-decoration: none;

			&:hover{
				background-color: blue;
			}
		}
	}

	.content{

		figure {
			margin: 2em auto;
			width: 15em;
			height: 15em;
			background-image: url('../media/images/selfie.jpg');
			background-size: 100%;
			background-position: 0 -1.5em;
			filter: grayscale(100%);
		   
			@extend %triple-circle;

		    img{
		    	display: none;
		    }

		    figcaption{
		    	display: none;
		    }
		}

		h3{
			@extend %ghost-box;
			margin: 0;
    		text-align: center;
   			padding: 0.5em;
		}

		p{
			@extend %ghost-box;
			margin: 0;
			padding: 0.66em 1em;
		}

		ul{
			@extend %ghost-box;
			margin: 0;
			padding-top: 0.25em;
			padding-bottom: 1em;
			list-style-image: url('../media/images/gemblue.gif');
		}

		a[href]{
			text-decoration: none;

			@extend %glow-hover;
		}

		hr{
			height: 2em;
			width: 2em;
			margin: 1em auto;
			border: 1px solid white;
			@extend %triple-circle;

			&:last-of-type{
				position: absolute;
    			bottom: -230px;
    			left: 50%;
    			transform: translateX(-50%);
    			width: 400px;
    			height: 61vw;
    			max-width: 100%;
    			max-height: 245px;
    			border-radius: 0%;
    			border: none;
    			background-image: url(../media/images/dolphin.gif);
    			background-size: 100%;
    			background-repeat: no-repeat;

				&::after,&::before{
					display: none;
				}
			}
		}
	}

	@media (min-width: $tablet-breakpoint) {

		header{
			h1{
				font-size: 3em;
			}

			h2{
				font-size: 1.2em;

				a{
					display: inline-block;

					&::before,&::after{
						display: none;
					}

					&:first-of-type::after{
						display: inline;
						margin: 0.25em;
    					color: white !important;
    					-webkit-text-fill-color: white;
					}
				}
			}
		}
	}

}

body.spartan{
	font-family: 'Helvetica', sans-serif;

	$plum: #9c18be;

	%animated-link{
		display: inline-block;
		text-decoration: none;
		color: red;
		text-shadow: -0.5px 1px white, 0.5px 1px white;
		transition: color 0.5s;
		vertical-align: middle;

		&:after{
			content: "";
    		display: block;
    		width: 0%;
    		height: 1px;
    		background-color: red;
    		margin-top: -2px;
    		transition: width 0.5s, background-color 0.5s;
		}

		&:hover,&:focus{
			color: $plum;

			&:after{
				background-color: $plum;

				@media (min-width: $tablet-breakpoint) {
					width: 100%;
				}
			}
		}

		&:visted{
			color: $plum;
		}

	}

	.container{
		max-width: $tablet-breakpoint;
		margin: 0 auto;
		padding: 1em 1em 4em 1em;
		overflow: auto;
	}

	header{

		h1{
			font-size: 3.5em;
    		width: 1px;
    		margin: 0;
		}

		h2{
			font-size: 1.5em;

			a{
				display: block;
				width: max-content;
				max-width: 100%;

				@extend %animated-link;
			}
		}
	}

	label#theme-menu {
		display: flex;
		flex-direction: column;
		margin: 0;
		font-style: italic;

		ul{
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li{
			margin-right: 1em;

			&#spartan{
				a{
					color: $plum;
				}
			}
		}

		a{
			font-weight: 700;
			@extend %animated-link;
		}
	}

	.content{
		figure{
			display: none;
		}

		p{
			letter-spacing: 0.5px;
			line-height: 1.25;
		}

		a[href]{
			@extend %animated-link;
		}

		ul{
			list-style: none;
			padding-left: 1em;

			li{
				position: relative;
				margin: 0.25em 0;

				&:before {
					content: "-";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					margin: 0 0 0 -0.75em;
					padding-right: 0.75em;
					color: $plum;
				}
			}
		}

		hr{
			width: 10%;
			margin: 0;
			height: 1px;
			background-color: red;
			border: none;
			transition: width 7s;

			&:last-of-type{
				display: none;
			}
		}

		p:hover,ul:hover{
			&+hr{
				width: 100%;
				background-color: $plum;
			}
		}
	}

	@media (min-width: $tablet-breakpoint) {

		.container{
			position: relative;
		}

		label#theme-menu {
			flex-direction: row;

			ul{
				margin-left: 1em;
			}

			li{
				&#spartan{
					a{
						&::after{
							width: 100%;
							background-color: $plum;
						}
					}
				}
			}
		}

		.content{

			figure {
    			display: block;
    			position: absolute;
    			top: 1em;
    			right: 1em;
    			max-width: 10em;
    			margin: 0;
    			background: $plum;

    			img{
    				display: block;
    				width: 100%;
					filter: grayscale(100%);
					opacity: .5;
    			}
    			figcaption{
    				display: none;
    			}
    		}
		}
	}
}

body.space-case{

	background-image: url('../media/images/stars.png');
	font-family: $font1;

	$sc-yellow: yellow;
	$sc-red: red;
	$sc-purple: purple;
	$sc-navy: #010548;
	$sc-blue: mix(blue,$sc-navy);
	$sc-green: #d3ff26;
	$sc-forest: #4be18b;
	$newsprint: #fff8dd;

	@mixin spacetrail($length,$color1: yellow, $color2: red, $text: false, $outline: true, $outline-color: white){
		$tempString: "-1px 1px #{$color1}";
		@for $i from 2 through $length {
			$ratio: 100% - ($i / $length * 100%);
			$tempcolor: mix($color1,$color2, $ratio );
			$tempString: $tempString + ", -#{$i}px #{$i}px #{$tempcolor}";
		}
		@if ($text){
			@if ($outline){
				$tempString: "0 1px #{$outline-color}, 0 -1px #{$outline-color}," + $tempString;
			}
			text-shadow: unquote($tempString);
		} @else {
			box-shadow: unquote($tempString);
		}
	}

	%super-hover{
		@include spacetrail(15, $sc-forest, mix($sc-navy,teal), true, false);
	}

	%space-box{
		padding: 0.5em;
		background-color: $newsprint;
		border: 2px solid orange;
		border-radius: 0.25em;
		color: maroon;
	}

	.container{
		max-width: $tablet-breakpoint;
		margin: 0 auto;
		padding: 1em;
		overflow: visible;
	}

	h1,h2{
		margin: 0;
	}

	h1{
		padding-top: 2.75em;
		font-size: 12vw;
		text-align:	center; 
		color: #ffb400;
		@include spacetrail(15, #00ffff, mix($sc-navy,teal), true);

		&::before {
			display: block;
			position: fixed;
			top: 0.5em;
			left: 50vw;
			width: 50vw;
			height: calc(1.26 * 50vw);
			max-height: 250px;
			max-width: 200px;
			background-image: url('../media/images/rocket.png');
			background-repeat: no-repeat;
			background-size: 100%;
			content: "";
			transform: translateX(-50%);
			z-index: -1;
		}
	}

	h2{
		text-align: center;
		a{
			display: block;
			margin: 0 0.5em;
			color: white;
			text-decoration: none;
			@include spacetrail(15, #308bd7, $sc-navy, true, false);

			&:hover{
				@extend %super-hover;
			}
		}
	}

	h3{
		color: $sc-blue;
		@include spacetrail(15, #00ffff, teal, true);
	}
	
	label#theme-menu {
		display: block;
		text-align: center;
		color: white;
		font-weight: 700;
		margin-top: 1em;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			margin: 0;
			list-style: none;
		}

		a {
			margin: 0 1em;
			color: white;
			text-decoration: none;
			font-weight: 700;

			&:hover{
				@extend %super-hover;
			}
		}

		li#space-case a{
			@extend %super-hover;
		}
	}

	figure{
		display: none;
	}

	.content{
		p{
			@extend %space-box;
			@include spacetrail(500, $sc-yellow, $sc-red, false);

			&+p{
				@include spacetrail(550, mix($sc-yellow,$sc-red,85%), mix($sc-red,$sc-purple,80%), false);

				&+p{
					@include spacetrail(400, mix($sc-yellow,$sc-red,70%), mix($sc-red,$sc-purple,60%), false);

					&+p{
						@include spacetrail(350, mix($sc-yellow,$sc-red,50%), mix($sc-red,$sc-purple,40%), false);
					}
				}
			}
		}

		hr{
			display: none;
		}

		a[href]{
			font-weight: 700;
			color: purple;
			text-decoration: none;

			&:hover,&:focus,&:active{
				color: $sc-blue;
			}
		}

		ul{
			@extend %space-box;
			padding-left: 2em;
			border-color: $sc-forest;
			list-style: none;
			@include spacetrail(450, $sc-green, teal, false);

			li{
				background-image: url(../media/images/ringed-planet.svg);
				background-size: 1.25em;
				background-repeat: no-repeat;
				margin: 0.5em 0 0.5em -1em;
				padding-left: 2em;

				&:nth-of-type(2n){
					background-image: url(../media/images/moon-orbit.svg);
				}
			}
		}
	}

	@media (min-width: $tablet-breakpoint) {

		h1{
			font-size: 4.25em;

			&:before{
				
			}
		}

		h2{
			a{
				display: inline-block;
			}
		}
	}

	@media (min-width: $desktop-breakpoint) {
		h1{
			padding-top: 0;

			&:before{
				left: calc(50vw + 3.25em);
    			transform: none;
			}
		}
	}
}