html{
	
}

body{
	margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body.one{

	$bg-yellow: #ffeb00;
	$accent-orange: #ed9900;
	$accent-teal: #b4ffe4;

	font-family: 'Quicksand', sans-serif;
	//background-color: $bg-yellow;
	background-image:
		url('../media/images/pattern.png'),
		linear-gradient(to bottom, $bg-yellow 0%, mix(#ffff9b,white) 100%)
		;

	header{
		overflow: auto;
		text-align: center;
	}

	.content{
		max-width: 500px;
		margin: 0 auto;

		p {
		    background: white;
		    padding: 0.5em;
		    border: 1px solid #ed9900;
		    box-shadow: -0.33em 0.33em 0 fade-out($accent-orange,0.5);
		    color: black;
		}

		a{
			text-decoration: none;
		    position: relative;
		    z-index: 2;

		    &::before{
		    	content: "";
    			display: inline-block;
    			position: absolute;
    			bottom: 0;
    			left: -0.25em;
    			width: 100%;
    			height: 0.75em;
    			z-index: -1;
    			background-color: $accent-teal;
    			color: black;
		    }

		    &:hover::before{
		    	background-color: yellow;
		    }
		}
	}
}